---
import { Icon } from 'astro-icon'
import PageLink from './PageLink.astro'
import { css } from '../styled-system/css'
---

<header>
  <div class={css({ mb: '3' })}>
    <h1
      class={css({ textStyle: 'pageTitle', color: 'text.pageTitle', mb: '2' })}
    >
      Adam Thomas.
    </h1>
    <p class={css({ textStyle: 'tagline', color: 'text.tagline', maxW: '96' })}>
      Experienced & collaborative tech lead who also enjoys building & managing
      great teams, with a front end spin.
    </p>
  </div>
  <div class={css({ display: 'flex', flexDir: 'row', columnGap: '3' })}>
    <a
      href="https://github.com/adamscybot"
      target="_blank"
      aria-label="Visit my GitHub"
      class={css({ color: 'slate.400', _hover: { color: 'slate.100' } })}
    >
      <Icon
        name="ph:linkedin-logo-fill"
        class={css({ color: 'slate.400', _hover: { color: 'slate.100' } })}
      />
    </a>
    <a
      href="https://www.linkedin.com/in/adamthomas1/"
      target="_blank"
      aria-label="Visit my LinkedIn"
      class={css({ color: 'slate.400', _hover: { color: 'slate.100' } })}
    >
      <Icon
        name="ph:linkedin-logo-fill"
        class={css({ color: 'slate.400', _hover: { color: 'slate.100' } })}
      />
    </a>
  </div>
  <nav
    class={css({
      mt: '16',
      display: 'flex',
      flexDir: 'row',
      flexWrap: 'wrap',
      columnGap: '3',
      rowGap: '3',
    })}
  >
    <PageLink href="/">About</PageLink>
    <PageLink href="/experience">Experience</PageLink>
    <PageLink href="/blog">Thoughts</PageLink>
  </nav>
</header>
