---
import type { HTMLAttributes } from 'astro/types'
import { css } from '../styled-system/css'

type Props = HTMLAttributes<'a'>

const { class: className, ...props } = Astro.props
---

<a
  class:list={[
    className,
    css({
      textStyle: 'link',
      color: 'slate.50',
    }),
  ]}
  {...props}
>
  <slot />
</a>
