---
import type { HTMLAttributes } from 'astro/types'
import { css } from '../styled-system/css'
import { BehaviourAttributes, asProp } from '../consts'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const isActive = href === pathname || href === pathname.replace(/\/$/, '')
---

<script>
  //   import { BehaviourAttributes, asSelector } from '../consts'

  //   const initScrollBehaviour = () => {
  //     const pageLinks = document.querySelectorAll<HTMLAnchorElement>(asSelector(BehaviourAttributes.PAGE_LINK))
  //     ;[...pageLinks].forEach((pageLink)  => {
  //       pageLink.addEventListener('click', (e) => {
  // e.preventDefault()
  //       })
  //     })
  //   }

  //   document.addEventListener('astro:page-load', initScrollBehaviour, {
  //     once: false,
  //   })
</script>
<a
  href={href + '#main'}
  {...asProp(BehaviourAttributes.NAV_PAGE_LINK)}
  class:list={[
    className,
    css({
      textStyle: 'pageLink',
      color: 'slate.400',
      bg: 'indigo.950',
      px: '2',
      py: '1',
      flex: '1',
      textAlign: 'center',
      xxs: {
        px: '3',
      },
      sm: {
        flex: '[0 0 auto]',
        py: '1.5',
      },
      _supportsAnimationTimeline: {
        animation: '[fade-bg-out ease forwards]',
        animationTimeline: '[--nav]',
        // @ts-ignore
        animationRange: '[exit-crossing 0% exit-crossing 150px]',
      },
      '[data-nav-is-stuck] &': {
        animation: '[fade-bg-out ease forwards 0.2s]',
      },
      borderRadius: 'sm',
      _hover: {
        color: 'slate.200',
        bg: 'indigo.800',
      },
      _active: {
        bg: 'indigo.500',
        color: 'slate.50',
      },
    }),
  ]}
  {...props}
  {...isActive ? { 'data-active': true } : {}}
>
  <slot />
</a>
