---
import type { HTMLAttributes } from 'astro/types'
import { css } from '../styled-system/css'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const isActive = href === pathname || href === pathname.replace(/\/$/, '')
---

<a
  href={href}
  data-astro-prefetch="hover"
  class:list={[
    className,
    css({
      textStyle: 'sectionLink',
      color: 'indigo.900',
      bg: 'indigo.200',
      px: '2',
      py: '1',

      xxs: {
        px: '3',
      },
      borderRadius: 'full',
      _hover: {
        color: 'indigo.900',
        bg: 'white',
      },
      _active: {
        // bg: 'slate.500',
        bg: 'indigo.500',
        color: 'slate.50',
      },
    }),
  ]}
  {...props}
  {...isActive ? { 'data-active': true } : {}}
>
  <slot />
</a>
