---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import { css } from '../styled-system/css'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    class={css({
      maxW: '4xl',
      px: '5',
      py: '20',
      mx: 'auto',
      bg: 'bg',
      overflowY: 'scroll',
      xxs: {
        px: '7',
      },
      xs: {
        px: '10',
      },
      xl: {
        maxW: '3xl',
        px: '10',
      },
      '2xl': {
        maxW: '4xl',
      },
    })}
  >
    <Header title={SITE_TITLE} />
    <main class={css({ mt: '12', position: 'relative' })}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
