---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import {
  SITE_TITLE,
  SITE_DESCRIPTION,
  BehaviourAttributes,
  asProp,
} from '../consts'
import { css } from '../styled-system/css'

type Props = {
  title?: string
  description?: string
  ogTitle?: string
  titlePrefix?: string
}

const { description, title, ogTitle, titlePrefix = SITE_TITLE } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead
      title={(titlePrefix ?? '') +
        (title ? `${titlePrefix !== undefined ? ' - ' : ''}${title}` : '')}
      ogTitle={ogTitle}
      description={description ?? SITE_DESCRIPTION}
    />
  </head>
  <body
    class={css({
      maxW: '4xl',
      px: '7',
      py: '20',
      mx: 'auto',
      bg: 'bg',
      overflowY: 'scroll',
      overflowX: 'hidden',
      xxs: {},
      xs: {
        px: '10',
      },
      xl: {
        maxW: '3xl',
        px: '10',
      },
      '2xl': {
        maxW: '4xl',
      },
    })}
  >
    <noscript>
      {
        /*
         * Using a marker div here for JS off as a trick to be able to use it as a selector in panda.
         */
      }
      <div data-javascript-disabled style={{ display: 'none' }}></div>
    </noscript>
    <Header
      {...Astro.slots.has('sub-nav')
        ? asProp(BehaviourAttributes.NAV_HAS_SUB_NAV)
        : {}}
    >
      <slot name="sub-nav" slot="sub-nav" />

      <main
        id="main"
        class={css({
          mt: '12',
          position: 'relative',
          _before: {
            content: "['']",
            display: 'block',
            height: '[20px]',
            marginTop: '[-20px]',
            visibility: 'hidden',
          },
          sm: {
            mt: '20',
          },
          md: {
            _before: {
              height: '[140px]',
              marginTop: '[-140px]',
            },
          },
        })}
      >
        <slot />
      </main>
    </Header>

    <Footer />
  </body>
</html>
